<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table, tr, th, td {
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <div style="margin-bottom: 10px">
    <form action="/students/uploads" method="POST" enctype="multipart/form-data" style="display: inline;">  
      <input type="file" name="upload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
      <button type="submit">upload</button>
    </form>
    <a href="../../example.xlsx" download><button type="button">Download Template</button></a>
  </div>
  <div style="margin-bottom: 10px">
    <form action="/students" method="POST">
      <input type="text" name="fullName" placeholder="fullname in here..">
      <input type="text" name="schools" placeholder="schools in here..">
      <input type="text" name="class" placeholder="class in here..">
      <button type="submit">save</button>
    </form>
  </div>
  <div>
    <table>
      <tr>
        <th>No</th>
        <th>Fullname</th>
        <th>School</th>
        <th>Class</th>
        <th>#</th>
      </tr>
      <% data.forEach((da,i) => { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= da.fullName %></td>
        <td><%= da.schools %></td>
        <td><%= da.class %></td>
        <td>
          <a href="/students/<%= da.id %>"><button>detail</button></a>
          <form style="display: inline;" action="/students/delete/<%= da.id %>?_method=DELETE" method="POST">
            <button type="submit">hapus</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </table>
  </div>
</body>
</html>